<div class="main_up">
  <div class="main_up_title">
    <div class="main_up_left">
      hogefuga
    </div>
  </div>
  <div class="main_up_end">
    <div class="main_up_right">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_center">
  <div class="post">
    <div class="post_name">Tom
    </div>
    <div class="post_date">2020/3/31(Wed) 12:43:30
    </div>
  </div>
  <div class="comment">おはよう

  </div>
  <div class="post">
    <div class="post_name">Tom
    </div>
    <div class="post_date">2020/3/31(Wed) 12:47:30
    </div>
  </div>
  <div class="comment">こんばんわ
  </div>
</div>

<div class="main_bottom">
  <div class="main_bottom_left">
    <input placeholder="type a message" class="post_form">
    <label class="post_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send">
</div>