<div class="side_up">
  <div class="side_up_left">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side_up_right">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_bottom">
  <div class="rooms">
    <div class="room">
      <a href="#">sakaroom1</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room">
      <a href="#">sakaroom2</a>
    </div>
  </div>
</div>